#five {
    /* You added these text aline elements in my level 3 examples in class; and ive just realised that they arent allowed to be added until level 4; i had no idea how to fix it */ 
    text-align: right;
    width: 100%;
    padding-right: 20px;
    
    


}

#six {
     text-align: right;
    width: 100%;
    padding-right: 20px;
    
    
    
}    
