#seven {
font-size: 48px;
    font-family: didot;
    letter-spacing: 20px;
    
     text-align: center;

    
    
    }

#eight {
font-size: 10px;
    font-family: didot;
    letter-spacing: 18px;
    
     text-align: center;

    
    
    }

#nine {
font-size: 10px;
    font-family: didot;
    letter-spacing: 1px;
    
     text-align: center;

   
    
    }